.dialog {
    .btn-group {
        padding: 20px 0;
        border-top: 1px solid #e8e8e8;
    }
}

.message-content {
    .btn-group {
        border: none;
        padding-top: 10px;
    }
}

.dialog-fixed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
}